@page "/admin"
 

<section class="card bg-light">
      <TabControl>
	<TabPage  Text="Dashboard">
		<Dashboard/>
	</TabPage>
	<TabPage Text="Users">
		<Users/> 
	</TabPage>
	<TabPage Text="Roles">
		<Roles/> 
	</TabPage>
	<TabPage Text="Competitions">
		 
	</TabPage>
</TabControl>
</section>

@code{
    
}